<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Schedule</title>
    <th:block th:replace="fragments/top-includes"></th:block>

</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>
<a th:href="@{/film/create}" class="btn">Create new Film</a>



<h3>List of all films</h3>

<table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Duration</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film:${films}">
        <td th:text="${film.title}"></td>
        <td th:text="${film.description}"></td>
        <td th:text="${film.duration}"></td>
    </tr>
    </tbody>
</table>





<th:block th:replace="fragments/bottom-includes"></th:block>

</body>
</html>